:root {
  color-scheme: dark;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #0b0e23;
  color: #e7e8f0;
}

.course {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.course-code {
  width: 150px;
  flex: none;
  position: sticky;
  top: 20px;
  font-size: 24px;
  margin: 0;
}
.professors {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.professor-name,
.term-name {
  font-weight: normal;
}
.professor-name {
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}
.term-name {
  font-size: 18px;
  margin: 0;
}
.contribution-count {
  font-style: italic;
  font-size: 10px;
  text-align: right;
  margin: 0;
}

/* TEMP */
pre {
  margin: 0;
  white-space: pre-wrap;
  border: 1px solid currentColor;
}
