:root {
  color-scheme: dark;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #0b0e23;
  color: #e7e8f0;
}

.modal {
  display: block;
  visibility: hidden;
  border: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
  &[open] {
    visibility: visible;
    pointer-events: unset;
    user-select: text;
    opacity: 1;
  }
  &::backdrop {
    background: none;
  }
}
.modal-body {
  background-color: #101433;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #303668;
  border-bottom: 0;
  height: 600px;
  max-height: 80%;
  width: 100%;
  max-width: 800px;
  padding: 40px;
  box-sizing: border-box;
  overflow: auto;
  transform: translateY(20px);
  transition: transform 0.2s;
  .modal[open] & {
    transform: none;
  }
}

.contribute-title {
  display: flex;
  margin: 0;
}
.close-btn {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  font-weight: normal;
  margin-left: auto;
  cursor: pointer;
  line-height: 1;
}

.hero-content,
.course {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 40px;
}

.hero {
  height: 600px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#96a7b9 50%, #f18032);
  background-image: linear-gradient(#778391, #93a3ab 10%, #b1bcbb 60%, #f18032);
  background-image: linear-gradient(in lab, #6697e1, #b7d4ed 70%, #eab64c);
  background-size: 100% 500px;
  background-repeat: no-repeat;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  color: #0b0e23;
  position: relative;
  z-index: 0;
}
.title {
  font-weight: normal;
  margin: 0;
  font-size: 36px;
}
.subtitle {
  margin: 0;
}
.contribute-btn {
  margin-top: 10px;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  background-color: #f0cb2d;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  }
}
.sun-god {
  position: absolute;
  z-index: -1;
  bottom: 100px;
  height: 300px;
  left: 300px;
}
@media (max-width: 570px) {
  .hero {
    background-size: 100% 350px;
    height: 400px;
  }
  .sun-god {
    display: none;
  }
}

.course {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.course-code {
  width: 150px;
  flex: none;
  position: sticky;
  top: 20px;
  font-size: 24px;
  margin: 0;
}
.professors {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.professor-name,
.term-name {
  font-weight: normal;
}
.professor-name {
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}
.term-name {
  font-size: 18px;
  margin: 0;
}
.contribution-count {
  font-style: italic;
  font-size: 10px;
  text-align: right;
  margin: 0;
}
@media (max-width: 600px) {
  .course {
    flex-direction: column;
  }
  .course-code {
    position: static;
  }
  .professor-name {
    font-size: 20px;
  }
  .term-name {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .hero-content,
  .course {
    padding: 20px;
  }
}

/* TEMP */
pre {
  margin: 0;
  white-space: pre-wrap;
  border: 1px solid currentColor;
}
